.main_div-90{
    display: flex;
    flex-direction: column;
}
.box_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border:solid 1px rgb(241, 238, 238);
    background-color: rgb(241, 238, 238);
    border-radius: 10%;
}
.detail_img{
    width: 60%;
    padding: 3%;
    border-radius: 10%;
}
.lower_content{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: space-evenly;
    padding: 70px;
}
.container-fluid-cus{
    padding-left: 10%;
    padding-right: 10%;
    margin-left: auto;
    margin-right: auto;
}
.box_info{
    display: flex;
    flex-direction: row;
    background-color: rgb(29, 29, 34);
}
.profile_imag{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.box1{
    padding: 3%;
    display: flex;
    flex-direction: column;
    width: 50%;
    border-radius: 50%;
}
.box2{
    padding: 3%;
    display: flex;
    flex-direction: column;
    
}