
.body{
    background-color: aqua;
}
.ffdiv1log{
    z-index: -90;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    flex-direction: column;
}